<template>
    <v-app>
        <v-app-bar fixed clipped-left app>
            <v-app-bar-nav-icon class="d-md-none d-block" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title class="text-uppercase">
                Nuxt3 Docker
                <v-chip label size="x-small" variant="tonal" color="primary">3.0.0-rc.8</v-chip>
            </v-toolbar-title>

            <v-btn stacked>
                {{ gay.getStatus }}
            </v-btn>
        </v-app-bar>

        <v-main app>
            <v-container>
                <slot></slot>
            </v-container>
        </v-main>
    </v-app>
</template>
  
<script lang="ts" setup>
import { useGayStore } from "~~/store";

const gay = useGayStore()
</script>
  