<template>
    <v-row justify="center">
        <v-col cols="12" lg="10">
            <v-row>
                <v-col cols="12">
                    <v-card>
                        <v-card-title class="mt-0">
                            Home page
                        </v-card-title>

                        <v-card-subtitle class="mb-2">
                            You want see some magic? Press a button!
                        </v-card-subtitle>

                        <v-card-actions>
                            <v-btn @click="gay.magic()">
                                {{ gay.gay ? 'Magic already done' : 'Make a magic' }}
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</template>

<script lang="ts" setup>
import { useGayStore } from '~~/store';

const gay = useGayStore();
</script>